<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056010006964-35vs2tar6qerrl7qo9cofojfkfhlc5bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056010006964-35vs2tar6qerrl7qo9cofojfkfhlc5bo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056010006964-p7d5isrdpkh4s51do47v6dgvg93lbrqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDr8LN9_N9Xp_UejzBEXFgqDDAMb-UUXf4</string>
	<key>GCM_SENDER_ID</key>
	<string>1056010006964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.streamsurgApp</string>
	<key>PROJECT_ID</key>
	<string>streamsurgapp</string>
	<key>STORAGE_BUCKET</key>
	<string>streamsurgapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056010006964:ios:d26376f7e3c4411bbc42e1</string>
</dict>
</plist>